  body {
        background-color:#0a0a23;
        color:#39ff14;
        font-family: sans-serif;
        text-align: center;
    }
    img {
        width: 300px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
.shonzo {
    display: grid;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         gap: 50px;
         padding: 20px;
         justify-items: center;
}
.mark {
      background-color: #2a2a2a;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(255, 204, 0, 0.3);
      transition: transform 0.3s;
      width: 250px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mark:hover {
      transform: scale(1.05);
    }

    .mark img {
      width: 100%;
      height: 250px;
      object-fit:contain;
      border-bottom: 1px solid #444;
      background-color:green;
      border-width: 30px;
    }

    .mark h2 {
      margin: 0;
      padding: 10px;
      font-size: 18px;
      background-color: #333;
      color: #ffcc00;
      width: 100%;
      text-align: center;
    }

    .mark button {
      margin: 10px;
      padding: 10px 20px;
      background-color:#39ff14;
      border: none;
      border-radius: 5px;
      color: #1a1a1a;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.4s;
    }

    .mark button:hover {
      background-color:greenyellow;}
    p {
        font-size: 35px;
    }
    .tony1 {
        border-radius: 35%;
        color: #e6b800;
        background-color:darkgreen;
        border-color:green;
        width: 250px;
        height: 120px;
        font-size: 25px;
    }

.akuula {
      background-color: #2a2a2a;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(255, 204, 0, 0.3);
      transition: transform 0.3s;
      width: 500px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 700px;
    }

    .akuula:hover {
      transform: scale(1.05);
    }

    .akuula img {
      width: 100%;
      height: 250px;
      object-fit:contain;
      border-bottom: 1px solid #444;
      background-color:green;
      border-width: 30px;
    }

    .akuula h2 {
      margin: 0;
      padding: 10px;
      font-size: 18px;
      background-color: #333;
      color: #ffcc00;
      width: 100%;
      text-align: center;
    }

    .akuula button {
      margin: 10px;
      padding: 10px 20px;
      background-color:#39ff14;
      border: none;
      border-radius: 5px;
      color: #1a1a1a;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.4s;
    }

    .akuula button:hover {
      background-color:greenyellow;}
.saerto img {
  width: 1250px;
  height: auto;
}